<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Comentarios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/comentarios.css">
</head>
<body>
    <header class="bg-dark row justify-content-between header-bar mx-0">
        <div class="col-2 bg-light logo-img px-4">
            <img src="../assets/logo.png" class="img-fluid">
        </div>
        <nav class="col-10 d-flex align-content-center justify-content-end">
            <ul class="d-flex justify-content-end align-items-center my-0">
                <li class="d-inline px-2"><a href="./index.html"><img src="../assets/house.svg"></a></li>  
                <li class="d-inline px-2"><a href="./nuevoEvento.html"><img src="../assets/lista.svg"></a></li> 
            </ul>
        </nav>
    </header>
    <section class="comentarios">
        <section class="content-item" id="comments">
            <div class="evento">
                <p id="nombre-evento">Feria de gatos</p>
                <img src="">
                <i class="fa-solid fa-heart"></i>
                <p id="likes">150</p>
                <i id="regresarIcon" class="fa-solid fa-chevron-left"></i>
                <a id="regresar" href="./index.html">Regresar</a>       
            </div>
            <div class="container">
                <div class="detalles">
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                          <h4 class="card-title">Detalles</h4>
                          <img src="" class="card-img-top">
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae mauris est. Mauris metus est.</p>
                          <div class="info">
                            <span>Lugar:</span><p class="lugar">Parque Samanes 2</p>
                            <span>Fecha:</span><p class="fecha">2022-09-21</p>
                            <span>Hora:</span><p class="hora">12:21:00</p>
                          </div>
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-sm-8">   
                        <form>
                            <h3 class="pull-left">Nuevo comentario</h3>
                            <button type="submit" class="btn btn-info pull-right">Enviar</button>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                        <textarea class="form-control" id="message" placeholder="Escribe tu comentario..." required=""></textarea>
                                    </div>
                                </div>  	
                            </fieldset>
                        </form>
                        
                        <h3>Comentarios</h3>
                        
                        <!-- COMMENT 1 - START -->
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>25/05/2008</li>
                                    <li><i class="fa fa-thumbs-up"></i>15</li>
                                </ul>
                            </div>
                        </div>
                        <!-- COMMENT 1 - END -->
                    
                    </div>
                </div>
            </div>
        </section> 
    </section>
    
<!-- <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/13a0564b67.js" crossorigin="anonymous"></script>
<script src="../js/intermediario.js"></script>
<script src="../js/comentario.js"></script>
</body>
</html>